html,body{height:100%;margin:0;padding:0;color:#111;background:#f2f2f2}
header,section,aside,article,menu,nav{display:block}
h1,h2,h3,h4,h5,h6{font-weight:400;font-family:Georgia}
*{box-shadow: none; outline: none;}
p{font-weight:400;font-size:13px;font-family:Georgia} 
a,span{font-weight:400;font-size:12px;font-family:Georgia;color:#fff;text-decoration:none}
button,button:focus,button:active{outline:none;border:none;box-shadow:none;background:transparent}
header{height:70px;display:table;width:100%;min-width:1250px}
header nav .topMenu{background-color:#3c3c3c;background:-webkit-gradient(linear,left top,left bottom,from(#4d4d4d),to(#3c3c3c));background:-moz-linear-gradient(top,#4d4d4d,#3c3c3c);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d',endColorstr='#3c3c3c');width:100%;height:70px;margin:0;padding:0;list-style:none}
header nav .topMenu > li{width:13.5%;height:70px;position:relative;float:left;border-right:1px solid #333;border-left:1px solid #555}
header nav .topMenu > li.sticky{display:none}
@media screen and (min-width:1600px) and (max-width:1980px) {
header nav .topMenu > li.sticky{display:block}
header nav .topMenu > li{width:12%;height:70px;float:left;border-right:1px solid #333;border-left:1px solid #555}
header nav .topMenu > li:first-child{width:13%;height:70px;float:left;border-right:1px solid #333;border-left:1px solid #555}
header nav .topMenu > li.search{width:19%!important}
header nav .topMenu > li:last-child{width: 8% !important}
}

.button{background:#687D84;outline: none;}
header nav .topMenu > li:first-child{border-left:none;padding-top:6px}
header nav .topMenu > li > a{white-space: nowrap;}
header nav .topMenu > li:first-child > a img#blink1{margin-left:5px;-webkit-animation:blink1 3s linear infinite;animation:blink1 3s linear infinite}
@-webkit-keyframes blink1 {
0%{opacity:1}
50%{opacity:.3}
100%{opacity:1}
}
@keyframes blink1 {
0%{opacity:1}
50%{opacity:.3}
100%{opacity:1}
}
.discrPhoto a{
	font-size: 12px !important; 
}

.news-date-line{
color: #444;
font-size: 16px;
position: relative;
display: table;
margin: 10px auto;
padding: 0 15px;
}

.news-date-line:after{
	content: "";
	position: absolute;
	width: 40%;
	top: 8px;
	height: 1px;
	background: #bbb;
	left: 100%;
}

.news-date-line:before{
	content: "";
	position: absolute;
	width: 40%;
	top: 8px;
	height: 1px;
	background: #bbb;
	right: 100%;
}

.itemsIndex{
	opacity: 0;
}

.discrPhoto a:hover{
	background: transparent !important;
	text-decoration: underline;
}
.popupForCropImg{width:100%;height:100%;position:fixed;background:rgba(150,150,150,.6);z-index:9999;display:none; top: 0;}
.cropArea img{width: 100%}
.cropArea{width:400px;height:500px;background:#fafafa;position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-250px;border-radius:2px;-webkit-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);overflow:hidden}
.closerCrop{}
.not-result, .empty{
	text-align: center;
	font-size: 18px;
	color: #555 !important;
}
.outerImgChoise{
	height: 180px;
width: 300px;
overflow: hidden
}
.outerImgChoise + p:hover{
	text-decoration: underline;
}

.outerImgChoise img{
	width: 	100%;
}

.forSubscribe{
	margin-top: 10px;
	display: table;
}

header nav .topMenu > li:hover{background:#333;background:-moz-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(51,51,51,1)),color-stop(100%,rgba(40,40,40,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-ms-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:radial-gradient(ellipse at center,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#282828',GradientType=1);-webkit-box-shadow:inset 0 0 5px 2px rgba(50,50,50,0.75);-moz-box-shadow:inset 0 0 5px 2px rgba(50,50,50,0.75);box-shadow:inset 0 0 5px 2px rgba(50,50,50,0.75);border-color:transparent}
header nav .topMenu > li.search{width:22%}
header nav .topMenu > li.search> div{width:250px;position:relative;display:table;height:70px;margin:0 auto}
header nav .topMenu > li.search> div .button{position:absolute;right:0;top:14px}
header nav .topMenu > li.search:hover{background:#333;background:-moz-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(51,51,51,1)),color-stop(100%,rgba(40,40,40,1)));background:-webkit-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-o-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:-ms-radial-gradient(center,ellipse cover,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);background:radial-gradient(ellipse at center,rgba(51,51,51,1) 0%,rgba(40,40,40,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#282828',GradientType=1)}
header nav .topMenu > li:last-child{width:10.5%;position:relative;text-align:center}
header nav .topMenu > li:last-child > div{position:relative;margin:0 auto;width:100px}
header nav .topMenu > li:last-child > div > img{margin:8px 26px;cursor:pointer}
header nav .topMenu > li:last-child > div > a{display:inline-block;color:#FDFDFD;position:absolute;top:25px;right:9px;opacity:.2}
header a h3 span{font-size:12px;color:#aaa}
header a h3{line-height:18px;padding-left:9px;padding-top:15px; white-space: nowrap;}
.outDropDown{height:350px;background:#fff;margin-top:8px;padding:0;list-style:none;display:none;-webkit-box-shadow:2px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:2px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:2px 2px 5px 0 rgba(50,50,50,0.3);width:700px;position:relative;z-index:9999}
.outDropDown > li{height:35px;background:#f7f7f7;border-bottom:1px solid #eee;border-right:1px solid #eee}
.topMenu > li:hover .outDropDown{display:block}
.outDropDown > li a{color:#333;font-size:16px;padding:8px 10px;display:inline-block;width:100%}
.outDropDown > li a.disqusComments{color:#333;font-size:13px;padding:2px 3px !important;display:inline-block;width: inherit !important;}
.outDropDown > li a:hover{background:#c6c6c6}
.outDropDown > li:hover .inDrop{display:block}
.arhiveGenDrop:hover .arhiveDrop{display:block}
.arhiveDrop li {position:relative;}

.menuOuterImg{
	width: 200px !important;
float: left;
background: transparent !important;
padding: 0 !important
}

.menuOuterImg:hover{
	background: transparent !important;
}

.menuOuterpImg{
width: 224px !important;
float: right !important;
display: inline-block !important;
padding: 0 !important
}

.menuOuterpImg:hover{
	background: transparent !important;
}
.page.is-active > a{
	background: #99b8c2 !important;
}

.page a:hover{
	background: #99b8c2 !important;
}
.page + .next a:hover{
	background: #99b8c2 !important;
}

.arhiveDrop{width:260px;height:240px;background:#fff;top:100%;display:block;position:absolute;background:#fff; display: none;}
.inDrop{height:100%;background:#fff;padding:15px 10px;margin:0;position:absolute;top:0;left:33%;list-style:none;-webkit-box-shadow:inset 5px 0 4px -4px rgba(50,50,50,0.5);-moz-box-shadow:inset 5px 0 4px -4px rgba(50,50,50,0.5);box-shadow:inset 5px 0 4px -4px rgba(50,50,50,0.5);display:none;width:522px}
.inDrop > li:first-child{width:100%;position:relative;height:45%;border-bottom:1px solid #ddd}
.inDrop > li:first-child img{float:left; height: 128px}
.inDrop > li:first-child .videoDescrMenu{padding:10px;float:left;width:279px;height:130px;display:inline-block;position:relative; overflow: hidden;}
.inDrop > li:first-child .videoDescrMenu div{position:absolute;top: 0;}
.inDrop > li:first-child .videoDescrMenu div a:hover{background:none;text-decoration:underline}
.inDrop > li:first-child .videoDescrMenu span{color:#666;font-size:13px; font-family: Arial}
.inDrop > li:first-child .videoDescrMenu h3{font-size:18px;margin:10px 0;font-weight:700}
.inDrop > li:first-child .videoDescrMenu p{font-size:13px;margin:0;display:inline-block;color:#666; line-height: 19px;}
.inDrop > li:last-child .rightPhoto{width:215px;display:inline-block;vertical-align:middle}
.inDrop > li:last-child .rightPhoto .discrPhoto{padding-left:10px;border-left:2px solid #687D84;margin-bottom:10px;display:inline-block;vertical-align:middle}
.inDrop > li:last-child .rightPhoto .discrPhoto:last-child{margin:0}
.inDrop > li:last-child .rightPhoto .discrPhoto h3{font-size:16px}
.inDrop > li:last-child .rightPhoto .discrPhoto span{color:#666}
.helpersPhoto{width:0;height:160px;display:inline-block;vertical-align:middle;border:0;padding:0;margin:0}
.inDrop > li:last-child img{width:224px;float:right;display:inline-block}
.inDrop > li:last-child{width:100%;position:relative;height:50%;margin-top:17px}
.arhiveDrop{width:100%;min-width:260px;height:240px;list-style:none;position:absolute;top:100%;z-index:9999;-webkit-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);background:#fff}
.arhiveDrop li{position:absolute;width:100%;height:100%;left:0;top:0}
.searchButton{background:url(../images/search.png) no-repeat 2px -20px;width:25px;height:25px;position:absolute;top:22px;left:15px;z-index:2}
.searchButton:hover{opacity:.6}
.searchButtonActive{background:url(../images/search.png) no-repeat 2px 2px!important}
.formSearch,.formSearch:focus,.formSearch:active{position:absolute;width:100%;height:39px;top:14px;border-radius:2px;border:none;box-shadow:none;overflow:none;opacity:0;padding:0 21px 0 51px}
.closersForm{background:url(../images/Close.png) no-repeat;position:absolute;right:0;top:29px;display:inline-block;width:15px;height:15px;z-index:3;display: none;cursor:pointer}
.closersForm:hover{opacity:.6!important}
.forRegAuth hr:nth-of-type(2){margin-top: 0}
.auth-title{display: none !important;}
.auth-services{
	 padding: 0;
  width: inherit !important;
  display: table !important;
  margin: 0 auto !important;
}
.auth-services > li:last-child{
	margin-right: 0;
}
.auth-services > li:first-child{
	margin-left: 0;
}
.round{
	  margin-bottom: 10px;
}
.logINCabinet .button + a{
	color: #333;
text-decoration: underline;
display: inline-block;
margin-top: 10px;
font-size: 14px
}
.logINCabinet .button + a:hover{
	text-decoration: none;
}
.topMenu > li:hover .forRegAuth{display:block}
.forRegAuth{position:absolute;width:400px;right:-1px;list-style:none;padding:0;background:#fff;-webkit-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);display:none;z-index:1000}
.forRegAuth > li{width:100%;height: calc(100% - 40px)}
.logINCabinet img{width: 200px; float: left; margin: 5px 5px 15px 15px;}
.logINCabinet h3{font-size: 16px}
.logINCabinet > span{display: inline-block; padding: 5px 0; color: #666;}
.logINCabinet span span{color: #333}
.logINCabinet button{padding: 10px; color: #fff; margin-bottom: 20px;}
.forRegAuth li > p:nth-child(2){font-size:16px;background:#fff;padding:0 10px;display:table;margin:-10px auto 20px}
.forRegAuth hr{width:90%;margin:40px auto 0;height:1px;background:#ccc;border:none}
.socgroup{width:100%;padding:10px;height:70px}
.input-addon .fa{color:#fff}
.forRegAuth li > p:nth-child(5){font-size:16px;background:#fff;padding:0 10px;display:table;margin:-10px auto 20px}
.main{width:1024px;margin:10px auto 60px}
.main hr{border:none;height:1px;background:#ccc;position:relative;z-index:1}
.main .titleRubrika{background:#f2f2f2;margin:-47px auto 25px;padding:0 20px;z-index:1;position:relative;display:table}
.topForGarmata{width:950px;display:table;margin:0 auto}
.topForGarmata > div{width:300px;height:460px;overflow:hidden;float:left;margin-right:25px;border-radius:2px;position:relative}
.topForGarmata > div:last-child{margin-right:0;margin-top:20px}
.topForGarmata > div:first-child{margin-top:20px}
.topForGarmata > div:nth-child(2) .hiddensTitle{bottom:0;top:inherit}
.hiddensTitle{position:absolute;top:0;width:100%;padding:10px;background:rgba(150,150,150,0.6)}
.hiddensTitle h3{font-size:18px;margin-top:10px}
.hiddensTitle h3 a{color:#000;font-size:18px}
.hiddensTitle h3 a:hover{text-decoration:underline}
.hiddensTitle span{font-size:13px;color:#ddd}
.hiddensTitle span i{color:#333}
.topForGarmata > div:nth-child(2) .iconsforNews{top:10px;bottom:inherit}
.iconsforNews{width:50px;height:50px;position:absolute;bottom:8px;left:10px}
.iconsforNews i{color:#fff;font-size:50px;color:#fff;font-size:50px}
.topForGarmata > div:hover .hoverIco{color:#687D84}
.videoBlock{width:650px;display:table;float:left;margin-right:23px}
.blogerBlockForMargin .videoBlock{margin-top:78px}
.videoBlock h1{display:table;margin:-67px auto;background:#f2f2f2;padding:20px;position:relative;z-index:5}
.videoBlock h1 a{color:#000;font-size:3rem}
#gallery{width:650px;overflow:hidden;margin-top:70px;float:left}
#slides{height:412px;width:650px;overflow:hidden}
.slides{float:left;position:relative; height: 415px}
.slides img{width:650px;}
#menu{height:80px;margin-top:10px}
#menu ul{padding:0;margin:0}
#menu li{width:120px;display:inline-block;list-style:none;height:75px;overflow:hidden;margin-right:8px;position:relative}
#menu li:last-child{margin-right:0}
#menu li.act a span{background:rgba(0,0,0,0.7)}
#menu li.act a span i{color:#687D84}
#menu li.act a{cursor:default}
.fbar{width:2px}
#menu li a{display:block;height:75px;width:120px}
.menuItem a img{border:none;width:120px;height:75px}
.menuItem a span{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(50,50,50,0.6)}
.menuItem a span i{font-size:30px;color:#fff;position:absolute;top:50%;margin-top:-15px;left:50%;margin-left:-13px}
#main{margin:15px auto;text-align:center;width:650px;position:relative}
.transDescription{width:100%;padding:10px;position:absolute;bottom:0;left:0;display:table;background:rgba(50,50,50,0.6)}
.transDescription:hover .forIcoGenSlide span i{color:#687D84}
.transDescription:hover .thisDescr span i{color:#687D84}
.forIcoGenSlide{height:87%;width:100px;position:absolute;text-align:center}
.forIcoGenSlide .helperSlide{display:inline-block;vertical-align:middle;height:100%;width:0}
.forIcoGenSlide span{vertical-align:middle;display:inline-block}
.forIcoGenSlide i{font-size:80px;color:#fff}
.thisDescr{float:left;width:520px;margin-left:110px}
.thisDescr > a:first-child{text-transform:uppercase;color:#ccc}
.thisDescr > a:first-child:hover{text-decoration:underline}
.thisDescr span{color:#eee;font-size:13px}
.thisDescr span a{color:#eee;font-size:13px}
.thisDescr p{color:#eee}
.thisDescr span i{color:#ccc}
.thisDescr h3{font-size:22px;color:#eee;margin:10px 0}
.thisDescr h3 a{font-size:22px;color:#eee}
.thisDescr h3 a:hover{text-decoration:underline}
#changeFile{left:-9999px;position:absolute}
.changeFileFor{position:relative;cursor:pointer}
.changeFileFor:before{content:"\f15b";font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84;position:absolute;width:10px;height:10px;display:inline-block;right:-20px;top:0}
.allmini{width:350px;float:right;border-left:1px solid #ccc;height:563px;padding:0 23px}
.allmini hr{width:100%}
.allmini h2{display:table;margin:-36px auto;background:#f2f2f2;padding:0 20px;position:relative;z-index:2; font-size: 2rem}
.allmini h2 a{font-size:2rem;color:#000}
.tab-nav ul li:first-child{margin-right:30px}
.tab-nav ul li:first-child span{position:absolute;left:107%;top:12px;z-index:5}
.tab-nav ul li:first-child span i{color:#fff;font-size:16px}
.tab-nav ul li a{width:100%}
.tab-nav ul li:first-child:before{content:"";height:38px;background:#000;width:30px;position:absolute;top:0;left:101%;border-radius:2px}
.tabsStream{height:335px;overflow:hidden}
.tabsStream section p{color:#000;margin:5px 0;font-size:16px;padding-left:20px;position:relative}
.tabsStream section p:before{content:"\f10d";font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84;position:absolute;width:5px;height:5px;display:inline-block;border-radius:50%;left:0;top:0}
.popular{width:303px;height:227px}
.popular iframe{margin-top:50px}
.outerLevel2{display:table;margin-top:30px}
.outerLevel1{display:table}
.language{position:absolute;right:220px;top:14px}
.language a{color:#555;font-size:14px}
.language a.activeLang{color:#000;cursor:default}
.LineNews{width:380px;float:left}
.LineNews hr{margin-top:20px}
.LineNews h2{display:table;margin:-42px auto;background:#f2f2f2;position:relative;z-index:5;padding:0 20px}
.LineNews h2 a{color:#000;font-size:2.5rem}
.newsOuter{width:100%;height:550px;overflow:hidden;padding:5px 10px;margin-top:55px}
.newsOuter .oneNews img{float:left;width:150px;margin-right:10px}
.newsOuter .oneNews{display:table;width:100%;margin-bottom:10px;position:relative}
.newsOuter .oneNews > span{top:5px;z-index:5;left:5px}
.newsOuter .oneNews > span i{font-size:18px}
.newsOuter .oneNews > div{width:200px;float:left}
.newsOuter .oneNews > div > a{display:block;margin:5px 0}
.newsOuter .oneNews > div > a:hover span{color:#687D84!important}
.newsOuter .oneNews > div > a span{font-size:15px;color:#888!important;text-transform:uppercase;position:relative;display:inline-block}
.newsOuter .oneNews > div > a span:first-child:before{content:"|";position:absolute;right:-15px}
.newsOuter .oneNews > div > a span:last-child{font-family:Arial;margin-left:25px}
.newsOuter .oneNews > div h6{font-size:14px}
.newsOuter .oneNews > div h6 span{color: #687D84; white-space: nowrap;}
.newsOuter .oneNews > div h6 a{color:#000;font-size:14px}
.newsOuter .oneNews > div h6 a:hover{text-decoration:underline}
.newsOuter .oneNews > div > span{color:#000;font-size:13px;margin-top:8px;display:block}
.buttonforLoad{width:95%;height:22px;background:#CFCFCF;position:relative;margin:2px auto;border-radius:2px;text-align:center; cursor: pointer;}
.photoblock{width:600px;float:left;margin-left:31px;height:624px;padding-left:27px;border-left:1px solid #ccc}
.photoblock hr{margin-top:20px}
.photoblock h1{display:table;margin:-49px auto;background:#f2f2f2;position:relative;z-index:5;padding:0 20px}
.photoblock h1 a{font-size:3rem;color:#000}
.photoblock > div > img{width:140px;height:94px}
.photoblock .sideGenPhoto img{width:100%;height:380px}
.outerGaleryPhoto{position:relative;margin-top:60px;overflow:hidden}
.outerGaleryPhoto > img{cursor:pointer;position:relative;display:inline-block}
.descrGalPhoto{height:90px;width:100%;margin-bottom:5px;background:red;display:none;background:rgba(50,50,50,0.1);border-radius:2px}
.descrGalPhoto p{margin:0;padding:10px 0 0}
.sideGenPhoto{height:479px}
.outerGaleryPhoto ul{padding:0;margin:0;list-style:none}
.outerGaleryPhoto ul li{display:inline-block;width:140px;height:94px;position:relative;font-size:30px;cursor:pointer}
.outerGaleryPhoto ul li img{width:140px;height:94px}
.outerGaleryPhoto ul li:before{position:absolute;width:100%;height:100%;background:rgba(50,50,50,0.5);content:""}
.outerGaleryPhoto ul li:hover:before{background:rgba(20,20,20,0.6)!important}
.outerGaleryPhoto ul li:hover:after{position:absolute;width:33px;height:33px;content:"\f03e";font-size:25px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84!important;z-index:9;top:50%;display:inline-block;left:50%;margin-top:-16.5px;margin-left:-16.5px}
.outerGaleryPhoto ul li:after{position:absolute;width:33px;height:33px;content:"\f03e";font-size:25px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#fff;z-index:9;top:50%;display:inline-block;left:50%;margin-top:-16.5px;margin-left:-16.5px}
.activeImg:before{background:rgba(20,20,20,0.6)!important;content:"";position:absolute;width:100%;height:100%}
.activeImg:after{position:absolute;width:33px;height:33px;content:"\f03e";font-size:25px;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84!important;z-index:9;top:50%;display:inline-block;left:50%;margin-top:-16.5px;margin-left:-16.5px}
.icoForSliderDescr{height:90px;width:90px;float:left;text-align:center;padding-top:22px}
.icoForSliderDescr i{font-size:50px;color:#687D84;vertical-align:middle}
.allDescrIn{padding:5px 10px;color:#444; font-family: Georgia;}
.allDescrIn i{color: #5A747C}
.allDescrIn > a:first-child{text-transform:uppercase;color:#555}
.allDescrIn > a:first-child:hover{text-decoration:underline}
.allDescrIn span{color:#555}
.allDescrIn span i{color:#687D84}
.allDescrIn h3{margin:5px 0;line-height:9px}
.allDescrIn h3 a{font-size:16px;color:#111;line-height:9px}
a.tooltips{position:relative;display:inline;color:#759e36!important; text-decoration: none !important;}
a.tooltips span{position:absolute;padding:0 5px;color:#FFF;background:#687D84;height:30px;line-height:30px;text-align:center;visibility:hidden;border-radius:0 2px 2px 2px;-moz-border-radius:0 2px 2px;-webkit-border-radius:0 2px 2px 2px;box-shadow:0 1px 3px #6F706F}
a.tooltips span:after{content:'';position:absolute;bottom:100%;left:0;width:0;height:0;border-bottom:8px solid #687D84;border-right:8px solid transparent}
a:hover.tooltips span{visibility:visible;opacity:1;top:30px;left:5px;z-index:999;white-space:nowrap;text-decoration:none!important}
a.tooltips:hover{text-decoration:none!important}
.allDescrIn h3 a:hover{text-decoration:underline}
.allDescrIn p{color:#555}
.descrGalPhoto:hover .allDescrIn span i{color:#5A747C}
.descrGalPhoto:hover span i{color:#5A747C}
.outerSectionMain{width:1250px;margin:0 auto;display:table;position:relative}
footer{width:100%;background:#dedede;height:430px;min-width:1250px;-webkit-box-shadow:0 0 5px 0 rgba(50,50,50,0.4);-moz-box-shadow:0 0 5px 0 rgba(50,50,50,0.4);box-shadow:0 0 5px 0 rgba(50,50,50,0.4)}
.footer{width:1250px;margin:0 auto;height:370px;padding:20px 0}
.footer > div:first-child .forTopButton{position:relative;right:inherit;left:0;top:6px;margin:0;font-family:Georgia}
.footer > div:first-child .forTopButton button{color:#fff;border-radius:2px;padding:5px 22px;font-size:15px;background:#687D84;font-weight:400}
.footer > div:first-child .forTopButton button:hover{background:#5A747C}
.footer > div:first-child .forTopButton button:first-child{margin-right:5px}
.footer > div:first-child{width:410px;padding-left:165px;background:url(../images/logoBottom.png) no-repeat;position:relative;float:left}
.footer > div:first-child p a{font-size:13px;color:#687D84;text-decoration:underline}
.footer > div:first-child p i{font-size:31px;margin-right:10px;line-height:32px;margin-top:6px}
.footer > div:first-child p a:hover{text-decoration:none}
.footer .input-addon{height:37px!important;margin-top:1px!important;color:#fff}
.footer .input-addon button{width:20px;height:17px;padding:0; cursor: pointer;}
.footer .input-group input{width:140px!important}
div.pluso{float: left}

.resultSubscribe{
	width: 100%;
	padding: 10px;
	background: #eee;
	display: none;
}

.resultSubscribe p{
	margin: 0;
}

.socF{text-transform:uppercase;font-weight:700;margin-bottom:3px;margin-top:12px}
.social{display:inline-block;position:absolute;right:289px;z-index:99;top:17px}
.titleGarmata{position:absolute;left:10px;z-index:1}
.titleGarmata p{font-size:14px;display:inline-block;position:relative}
.topBlockInfo{position:relative;width:100%;min-width:1250px;height:60px}
.forTopButton button{color:#000;border-radius:2px;padding:4px 12px; font-size:15px; font-family: Georgia; cursor: pointer;}
.forTopButton button:hover{background:#ccc}
.forTopButton{position:absolute;right:475px;margin:0;font-family:Georgia;top:8px}
.materials{width:1024px;position:relative}
.materials hr{margin:60px 0 0}
.materials h1{display:table;margin:-50px auto;background:#f2f2f2;padding:20px;position:relative;z-index:5}
.outerAllPostIndex:nth-child(3){margin-top:60px}
.outerAllPostIndex{margin-top:20px;width:1024px; overflow: 	hidden;	}
.outerAllPostIndex > div{width:236px;margin:0 10px;float:left}
.outerAllPostIndex > div > h4{line-height:12px;margin-bottom:13px}
.outerAllPostIndex > div > h4 > span{margin:0!important;width:100%!important}
.outerAllPostIndex > div > h4 > span:before{display:none!important}
.outerAllPostIndex > div > div > img:first-child{width:236px;height:163px}
.social a i{font-size:20px;color:#444}
.social a:hover i{color:#111}
.social a{display:inline-block!important;width:25px;height:25px;margin:-8px 3px}
.social p{margin:0;display:inline-block;font-weight:400;font-size:15px;padding-left:10px;font-family:Arial}
.footer .social{position:relative;top:5px;left:0}
.footer > div:nth-child(2){width:250px;float:left;margin-left:50px;padding-right:20px;padding-bottom:10px;border-right:1px solid #F2F2F2}
.footer > div:nth-child(3){width:270px;float:left;padding-left:25px;padding-bottom:10px;padding-right:20px;border-left:1px solid #CBCBCB;border-right:1px solid #F2F2F2}
.footer > div:nth-child(4){width:250px;float:left;padding-left:25px;padding-bottom:10px;position:relative;border-left:1px solid #CBCBCB}
.footer > div:nth-child(2) >div,.footer > div:nth-child(3) >div,.footer > div:nth-child(4) >div{margin-top:13px;border-bottom:1px solid #F2F2F2;padding-bottom:10px}
.footer > div:nth-child(2) >div:last-child,.footer > div:nth-child(3) >div:last-child,.footer > div:nth-child(4) >div:last-child{border:none;margin-bottom:0}
.footer > div:nth-child(4) >div:last-child{margin-top:0}
.footer > div:nth-child(2) >div > span,.footer > div:nth-child(3) >div:last-child,.footer > div:nth-child(4) >div:last-child{color:#777}
.footer > div:nth-child(2) >div > span,.footer > div:nth-child(3) >div > span,.footer > div:nth-child(4) >div > span{margin:7px 0;position:relative;padding-left:12px; display: inline-block;}
.footer > div:nth-child(2) >div > span a,.footer > div:nth-child(3) >div > span a,.footer > div:nth-child(4) >div > span a{font-size:14px;color:#000}
.footer > div:nth-child(2) >div > h1 a,.footer > div:nth-child(3) >div > h1 a,.footer > div:nth-child(4) >div > h1 a{text-transform:uppercase;font-size:17px;color:#444}
.footer > div:nth-child(2) >div > h1,.footer > div:nth-child(3) >div > h1,.footer > div:nth-child(4) >div > h1{text-transform:uppercase;font-size:17px;color:#444}
.footer > div:nth-child(2) >div > a,.footer > div:nth-child(3) >div > a,.footer > div:nth-child(4) >div > a{display:block;color:#687D84}
.footer > div:nth-child(2) >div a:hover,.footer > div:nth-child(3) >div a:hover,.footer > div:nth-child(4) >div a:hover{text-decoration:underline}
.footer > div:nth-child(2) >div > span:before,.footer > div:nth-child(3) >div > span:before,.footer > div:nth-child(4) >div > span:before{content:"\f10d";font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84;position:absolute;width:5px;height:5px;display:inline-block;font-size:11px;border-radius:50%;left:0;top:3px}
.footer > div:nth-child(4) >div p{font-size:13px;color:#222}
.footerFixed footer{position:fixed;bottom:-420px;display:none;z-index:999}
.openFoot{position:fixed;bottom:50px;right:30px;text-transform:uppercase;font-size:15px;opacity:0;cursor:pointer}
.toTop{position:fixed;bottom:50px;left:30px;text-transform:uppercase;font-size:15px;opacity:0;cursor:pointer}
.openFoot:before{position:absolute;content:"";height:30px;width:1px;background:#000;top:-35px;left:33px}
.toTop:before{position:absolute;content:"";height:30px;width:1px;background:#000;top:-35px;left:25px}
.openFoot:after{position:absolute;content:"";height:30px;width:1px;background:#000;top:20px;left:33px}
.toTop:after{position:absolute;content:"";height:30px;width:1px;background:#000;top:20px;left:25px}
.openFoot span{position:absolute;top:48px;left:29.5px;cursor:pointer}
.toTop span{position:absolute;top:-45px;left:20.5px;cursor:pointer}
.sectionTwoForAll{width:100%;display:table;margin-top:20px;position:relative}
.nivo-imageLink{cursor:default}
.sectionTwoForAll .video{width:250px;float:left}
.sectionTwoForAll .photo{width:250px;float:left}
.sectionTwoForAll .news{width:470px;float:left;margin:0 25px;padding:25px;border-left:1px solid #ccc;border-right:1px solid #ccc;min-height:300px}
.sectionTwoForAll>div>hr{margin-top:-16px;position:relative}
.sectionTwoForAll>div>h3:first-child{display:table;margin:0 auto;background:#f2f2f2;position:relative;z-index:10;padding:0 15px}
.sectionTwoForAll>div:nth-child(2) > hr{margin-top:-18px}
.sectionTwoForAll>div:nth-child(2) > h3{margin-top:-35px}
.blockPhoto,.blockVideo{position:relative;width:100%}
.blockPhoto>div,.blockVideo>div{position:relative; min-height: 156px;}
.blockPhoto>div span,.blockVideo>div span{top:5px;left:5px}
.blockPhoto>div span i,.blockVideo>div span i{font-size:30px}
.blockPhoto>div img,.blockVideo>div img{width:100%}
.blockPhoto>div:hover span i,.blockVideo>div:hover span i{color:#687D84}
.blockPhoto h5,.blockPhoto a,.blockPhoto span,.blockPhoto p,.blockVideo h5,.blockVideo a,.blockVideo span,.blockVideo p{color:#000}
.blockPhoto h4 a,.blockVideo h4 a{text-transform:uppercase;color:#687D84}
.blockPhoto h4 span,.blockVideo h4 span{display:inline-block;font-family:Arial;color:#888}
.blockNews h4 span{display:inline-block;font-family:Arial;color:#888; line-height: 30px;}
.clear{clear:both; width: 650px}
.blockPhoto h5,.blockVideo h5{line-height:20px}
.blockPhoto h5:hover a,.blockVideo h5:hover a{text-decoration:underline}
.blockPhoto h5 a,.blockVideo h5 a{margin:5px 0;font-size:18px}
.blockPhoto p,.blockVideo p{margin:10px 0 5px}
.blockPhoto hr,.blockVideo hr{margin:20px auto;width:150px}
.blockNews>div{width:190px;float:left;margin-right:5px;display:table;position:relative}
.blockNews>div span{left:8px;bottom:10px;width:17px;height:20px}
.blockNews>div:hover span i{color:#687D84}
.blockNews>div span i{font-size:20px}
.blockNews>div img{width:190px; margin-right: 10px;}
.blockNews h4 a{color:#687D84;text-transform:uppercase}
.blockNews h4{line-height:10px}
.blockNews h5 a{color:#000;font-size:16px}
.blockNews h5 a:hover{text-decoration:underline}
.blockNews h5{line-height:17px;margin:5px 0}
.blockNews{margin-top:30px}
.blockNews p{margin:5px 0;color:#666}
.blockNews hr{width:70%;margin:15px auto}
.pageWithoutTop{margin-top:15px}
.pageWithoutTop .carousel{margin-top:70px; opacity: 0;}
.pageWithoutTop .carousel li{position:relative}
.pageWithoutTop .carousel:hover li > span i{color:#687D84}
.forTextPageVideo{width:300px;height:100%;position:absolute;right:0;top:0;background:rgba(50,50,50,.7);padding:15px}
.forTextPageVideo h4{color:#687D84;font-size:15px;font-weight:700;text-transform:uppercase}
.forTextPageVideo span{color:#aaa}
.forTextPageVideo span i{color:#687D84}
.forTextPageVideo p{color:#ccc;font-size:14px; max-height: 155px; overflow: hidden;}
.forTextPageVideo h3{line-height:17px}
.forTextPageVideo h3 a{font-size:20px}
.forTextPageVideo h3:hover a{text-decoration:underline}
.pageWithoutTop .carousel-tabs{margin:-14px 6px;display:table;float:right}
.carousel-prev{margin-top:-50px;display:table;margin-left:360px}
.carousel-prev span{border:7px solid transparent;border-right-color:inherit!important}
.carousel-prev:hover span{border-right-color:#687D84!important}
.carousel-next:hover span{border-left-color:#687D84!important}
.carousel-next span{border:7px solid transparent;border-left-color:inherit!important}
.carousel-next{margin-top:-17px;display:table;margin-left:385px}
.pageWithoutTop .bullets a{background:transparent;border-color:#fff;opacity:1}
.pageWithoutTop .bullets a.is-active{background:#fff}
.pageWithoutTop .bullets a:hover{background:#687D84}
.allVideoPage{width:100%;display:table;margin-top:50px}
.allVideoPage .oneVideoIn{width:315px;position:relative;margin:0 5px;float:left}
.allVideoPage .oneVideoIn > div{position:relative}
.allVideoPage .oneVideoIn > div span{width:30px;height:30px;left:50%;margin-left:-15px;top:50%;margin-top:-15px}
.allVideoPage .oneVideoIn > div span i{font-size:32px}
.allVideoPage .oneVideoIn > div:hover span i{color:#687D84}
.allVideoPage > .oneVideoIn:nth-child(4){margin-top:80px}
.allVideoPage .oneVideoIn > div img{width:100%}
.allVideoPage .oneVideoIn > h4,.allVideoPage .oneVideoIn > h4 a{color:#687D84;font-size:17px;text-transform:uppercase}
.allVideoPage .oneVideoIn > h3,.allVideoPage .oneVideoIn > h3 a{font-size:19px;color:#000;line-height:19px;margin:10px 0 0}
.allVideoPage .oneVideoIn > h3:hover a{text-decoration:underline}
.allVideoPage .oneVideoIn > span{color:#888}
.allVideoPage .oneVideoIn > span p{color:#666}
.oneVideoIn hr{width:80%;margin:0 auto 20px}
.pageWithoutTop .tabsStream{height:345px}
.pageWithoutTop .tabsStream h6 a{color:#687D84;font-size:16px}
.pageWithoutTop .tabsStream h6 span{border:4px solid transparent;border-left-color:#687D84!important}
.allVideoPage > div{margin-top:80px}
.pageWithoutTop .tabsStream h6:hover a{text-decoration:underline}
.pageWithoutTop .LineNews{width:303px}
.pageWithoutTop .newsOuter{height:1320px}
.blogersI .newsOuter{height:2320px}
.pageWithoutTop .newsOuter .oneNews > div{width:270px}
.pageWithoutTop .newsOuter .oneNews > div > a{display:inline-block}
.pageWithoutTop .newsOuter .iconsforNews{position:static;display:inline-block!important;width:20px;height:20px}
.pageWithoutTop .newsOuter .iconsforNews i{font-size:20px;color:#687D84}
.pageWithoutTop .is-active .button{background:#666}
.allmini.pageWithoutTop{display:table;height:auto!important}
.photoPage .newsOuter{height:1665px!important}
.oneVideoPage > h4,.oneNewsPage > h4{font-size:16px;text-transform:uppercase;color:#687D84;margin-top:80px}
.oneVideoPage > h4 > a,.oneNewsPage> h4 > a{font-size:16px;text-transform:uppercase;color:#687D84}
.oneVideoPage > h4 span:last-child,.oneNewsPage > h4 span:last-child{color:#666;float:right; text-transform: none;}
.oneVideoPage > h4 .caret-right,.oneNewsPage > h4 .caret-right{margin-bottom:2px;margin-left:5px}
.oneVideoPage > h4 a:hover,.oneNewsPage > h4 a:hover{text-decoration:underline;color:#666}
.socialShare{margin-top:10px; display: table; width: 100%;}

.dropRep{
	display: inline-block;
}

a.disqusComments {
  color: #888 !important;
  margin-right: 5px;
  font-family: Arial !important; 
}

.sensAndAuthor{
	  display: block;
  margin-top: 2px;
  float: right;
}

.sensAndAuthor p a{
	color: #666;
}

h5.section-heading{
	font-size: 14px;
}

.sensAndAuthor p:last-child span{
 color: #333;
}

.day{
	font-weight: normal !important;
}

.sensAndAuthor *{
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
}

.sensAndAuthor span{
	color: #333;
}

.sensAndAuthor p{
	color: #333;
}

.sensAndAuthor p span{
	color: #666;
}

.sensAndAuthor p:last-child{
	margin-left: 20px;
}

.sensAndAuthor p:first-child{
	margin-right: 20px;
}

.outerMason{
	width: 100%;
}
.pluso-more{visibility:hidden}
.pluso-wrap a{margin:0 3px 0 0 !important}
.allTextOneVideoAdmin h2,.allTextOneNewsAdmin h2{font-size:22px;margin:10px 0 25px 0;}
.allTextOneVideoAdmin h2 a.tooltips{font-size: 22px !important; margin-right: 10px}
.allTextOneNewsAdmin img{max-width: 100%; height: inherit !important;}
.allTextOneNewsAdmin a{color:#333 !important;text-decoration:underline;font-size:14px}
.allTextOneVideoAdmin a{color: #687D84; font-size: 14px; text-decoration: underline;}
.allTextOneVideoAdmin a:hover{text-decoration: none;}
.allTextOneVideoAdmin iframe,.allTextOneNewsAdmin iframe{width:100%!important;height:400px!important}
.allTextOneNewsAdmin img.gen{width:350px !important;  margin: 0 15px 0px 0; float: left;}
.allTextOneVideoAdmin p,.allTextOneVideoAdmin p span,.allTextOneNewsAdmin p,.allTextOneNewsAdmin p span{font-size:14px;color:#000}
.seenAll{width:100%;display:table;margin-top:50px}
.seenAll .oneVideoIn{width:315px;position:relative;margin:5px;float:left}
.seenPostAll > div{position:relative;width:650px}
.seenAll .oneVideoIn > div{position:relative}
.seenAll .oneVideoIn > div span{width:30px;height:30px;left:50%;margin-left:-15px;top:50%;margin-top:-15px}
.seenAll .oneVideoIn > div span i{font-size:32px}
.seenAll .oneVideoIn > div:hover span i{color:#687D84}
.seenAll > div:nth-child(2n+2){margin-right:0}
.seenAll .oneVideoIn > div img{width:100%}
.seenAll .oneVideoIn > h4,.seenAll .oneVideoIn > h4 a{color:#687D84;font-size:17px;text-transform:uppercase}
.seenAll .oneVideoIn > h3,.seenAll .oneVideoIn > h3 a{font-size:19px;color:#000;line-height:19px;margin:10px 0 0}
.seenAll .oneVideoIn > h3:hover a{text-decoration:underline}
.seenAll .oneVideoIn > span{color:#888}
.seenAll .oneVideoIn > span p{color:#666}
.seenAll > div:nth-child(3){margin-top:80px}
.seenAll > div:nth-child(4){margin-top:80px}
.oneVideoPage > h4{font-size:16px;text-transform:uppercase;color:#687D84;margin-top:80px}
.oneVideoPage > h4 > a{font-size:16px;text-transform:uppercase;color:#687D84}
.oneVideoPage > h4 span:last-child{color:#666;float:right}
.oneVideoPage > h4 .caret-right{margin-bottom:2px;margin-left:5px}
.oneVideoPage > h4 > a:hover{text-decoration:underline;color:#666}
.seenAllnews> div:nth-child(3){margin-top:70px!important}
.seenAllnews > div{height:130px;overflow:hidden}
.seenAllnews hr.beforeLine{width:70%;margin:15px auto}
.seenAllnews{margin-top:40px}
.theme-default .nivoSlider{position:relative;background:url(loading.gif) no-repeat 50% 50%,#fff;margin-bottom:10px}
.theme-default .nivoSlider img{position:absolute;top:0;left:0;display:none}
.theme-default .nivoSlider a{border:0;display:block}
.theme-default .nivo-controlNav{text-align:center;padding:20px 0}
.theme-default .nivo-controlNav a{display:inline-block;width:22px;height:22px;background:url(bullets.png) no-repeat;text-indent:-9999px;border:0;margin:0 2px}
.theme-default .nivo-controlNav a.active{background-position:0 -22px}
.theme-default .nivo-directionNav a{display:block;width:30px;height:30px;background:url(arrows.png) no-repeat;text-indent:-9999px;border:0;opacity:0}
.theme-default:hover .nivo-directionNav a{opacity:1}
.theme-default a.nivo-nextNav{background-position:-30px 0;right:15px}
.theme-default a.nivo-prevNav{left:15px}
.theme-default .nivo-caption{font-family:Helvetica,Arial,sans-serif}
.theme-default .nivo-caption a{color:#fff;border-bottom:1px dotted #fff}
.theme-default .nivo-caption a:hover{color:#fff}
.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%;display:block;max-height:136px;overflow:hidden;margin-bottom:20px;position:relative}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:auto;float:left;background:none;margin-bottom:5px;position:relative;left:0}
.backgroundOpacity{position:absolute;bottom:-3px;display:inline-block;background:red;width:100%;height:41px;z-index:99;left:0}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:90px;margin:0 3px;height:auto;border-top:4px solid transparent}
.activeigo img{-webkit-filter:url(#blur);filter:url(#blur);-webkit-filter:blur(1px);filter:blur(1px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');-webkit-transition:1s -webkit-filter linear;transition:1s filter linear}
.activeigo:before{content:"";background:#000;position:absolute;width:94%;height:4px;left:3px}
.ok{overflow:hidden;margin:0 auto}
.overflows{position:relative;left:0;transition:.5s}
.prev{width:20px;height:54px;background:url(../images/sprite.png) no-repeat -2px -63px;position:absolute;display:inline-block;cursor:pointer;margin-top:13px}
.prev:hover{background-position:-2px -8px}
.next:hover{background-position:-20px -8px}
.wraper{margin:20px 0 0}
.next{width:20px;height:54px;background:url(../images/sprite.png) no-repeat -20px -63px;position:absolute;display:inline-block;cursor:pointer;margin-top:13px}
#slider > a > div{background:rgba(50,50,50,0.5);padding:5px 10px}
#slider > a > div p{font-size:14px;color:#fff}
#slider > a > div p i{font-size:18px;color:#687D84;margin-right:5px}
.noColor{display:none}
.blogers> div > img{height:100%; position: relative;}
.blogers > div .hiddensTitle b{font-weight:400;color:#333}
.blogers > div .hiddensTitle h3{text-transform:uppercase;margin-bottom:10px}
.whois{color:#ccc}
.fileName{color: #000; display: inline-block; margin-left: 30px;}
.contentNewsAccept form{
	margin-top: 25px;
}
.deleteInput:after{content: "x"; display: inline-block; font-family: Arial; color: #687D84; margin-left: 10px; cursor: pointer;}
.containerBloger{width:100%;position:relative;margin-top:70px; overflow: hidden; height: 500px}
.containerBloger .items{width:31.2%;margin:1%;padding:0;}
.containerBloger .items img{width:100%}
.rating{position:relative;width:100%;background:rgba(50,50,50,0.15); margin-top: -5px;}
.rating p{margin:0;padding:5px;text-transform:uppercase}
.rating p a{color:#000;text-decoration:none}
.rating p i:first-child{color:#687D84}
.rating p a:hover{text-decoration:underline}
.rating p span{color:#555;text-transform:none}
.rating p span b{font-weight:400}
.dalay{animation-delay:1s;-webkit-animation-delay:1s}
.posts{margin-top:70px;display:table;width:650px;}
.blogersI{margin-top:77px}
.book .clear{-moz-column-count:2;-webkit-column-count:2;column-count:2;margin-top:80px;  width: 650px;}
.book .clears{-moz-column-count:2;-webkit-column-count:2;column-count:2; width: 650px;}
.book .clear .postOneBloger, .book .clears .postOneBloger {margin: 0;
  width: 300px;
  height: 50px;
  display: inline-table;}
  .book .clear p, .book .clears p{margin: 0;
  width: 300px;
  height: 50px;
  display: inline-table;}
  .book .clear .postOneBloger > a, .book .clears .postOneBloger > a{
padding: 5px 5px 5px 0px;
display: inline-block;
font-size: 14px;
color: rgba(255, 0, 0, 0.3);
  }

  .book .clear .postOneBloger > a:first-child, .book .clears .postOneBloger > a:first-child{
	color: #95b3bd;
  }

    .book .clear .postOneBloger > a:hover, .book .clears .postOneBloger > a:hover{
    	text-decoration: underline;
    }
.book .clear p i, .book .clears p i{color:#687D84}
.book .clear p a, .book .clears p a{color:#000;font-size:14px;position:relative}
.book .clear p a:hover, .book .clears p a:hover{text-decoration:underline}
.book .clear p a:last-child, .book .clears p a:last-child{display:block;margin-top:5px;color:#687D84;margin-bottom:20px;padding-bottom:10px}
.book .clear p a:last-child:hover, .book .clears p a:last-child:hover{text-decoration:underline}
.book .clear p a:last-child:after, .book .clears p a:last-child:after{content:"";width:200px;height:1px;background:#ccc;position:absolute;bottom:0;left:0}
.book .clear p span, .book .clears p span{display:block;margin-top:5px;color:#888;margin-bottom:20px;padding-bottom:10px;position:relative}
.book .clear p span:after, .book .clears p span:after{content:"";width:200px;height:1px;background:#ccc;position:absolute;bottom:0;display:inline-block;left:0}


.oneBlogerP .book{
	height: inherit !important;
}


.posts .pagination{margin-top:40px}
.nivoSlider{position:relative;width:100%;height:auto;overflow:hidden}
.nivoSlider img{position:absolute;top:0;left:0;max-width:none}
.nivo-main-image{display:block!important;position:relative!important;width:100%!important}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
.nivo-box img{display:block}
.nivo-caption{position:absolute;left:0;bottom:0;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:.8;overflow:hidden;display:none;-moz-opacity:.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.nivo-caption p{padding:5px;margin:0}
.nivo-caption a{display:inline!important}
.nivo-html-caption{display:none}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer}
.nivo-prevNav{left:0}
.nivo-nextNav{right:0}

.formImgChange{
	position: relative;
}

.formImgChange span{
	position: relative;
	font-size: 16px;
	color: #333;
	text-align: center;
}
.formImgChange a i{
	margin-left: 5px;
	font-size: 16px;
	color: #333;
}

.formImgChange a{
	text-align: center;
	margin-top: 5px;
	width: 100%;
	display: inline-block;
}

.formImgChange a:hover span{
	text-decoration: underline;
}

.addPost{
	width: 100%;
	padding: 10px 0 40px 0;
	display: none;
}

.addPost *{
	width: 100%;
}

.addPost label{
	margin-bottom: 15px;
	display: inline-block;
}
.addPost input{
	margin-bottom: 20px;
	height: 32px;
	border: 1px solid #ddd;
}

.addPost textarea{
	resize: none;
	border: 1px solid #ddd;
	height: 300px;
	margin-bottom: 15px;
}

.addPost button{
	width: 300px;
	display: block;
	margin: 0 auto;
}


.nivo-controlNav{text-align:center;padding:15px 0}
.nivo-controlNav a{cursor:pointer}
.nivo-controlNav a.active{font-weight:700}
.blogerInfo{width:100%;margin-top:75px;margin-bottom:50px;display:table}
.blogerInfo > div{width:216px;float:left;position:relative; }
.blogerInfo > div img{width:100%}
.blogerInfo > div:first-child{padding:10px}
.blogerInfo > div:last-child{padding:10px 10px 10px 20px}
.blogerInfo > div > div{font-size:14px;margin-top:0;color:#000; font-family: Georgia; margin-bottom: 10px;}
.blogerInfo > div div span{color:#888;font-size:12px;  display: inline-block;
  margin: 5px 5px 10px;}
.blogerInfo > div p{font-size:14px;margin-top:0;color:#000}
.blogerInfo > div p span{color:#888;font-size:12px}
.blogersPageAll{margin-top:50px}

.dropRep p{
	margin-bottom: 0;
}

.dropRep{
	position: relative;
	cursor: pointer;
}

.inputMrnu{
	  position: absolute;
  width: 200px;
  top:20px;
  display: none;
  height: 194px;
  background: #fff;
  z-index: 9999;
  left: -73px;
  -webkit-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);
}

.inputMrnu span{
	font-family: Arial;
  font-size: 15px;
  color: #fff !important;
  padding: 7px 10px 5px;
  position: absolute;
  right: 0;
  margin: 0 !important;
  background: #687D84;
}

.inputMrnu label{
	text-align: center;
	  display: block;
  padding: 10px 0;
}

.inputMrnu textarea{
	width: 180px;
	height: 100px;
	resize: none;
	padding: 10px;
	 font-size: 12px;
	display: block;
	margin: 0 auto;
	border: 1px solid #cecece;
}

.inputMrnu input{
  width: 100px;
    margin: 13px auto;
  padding: 5px 10px 7px;
 }

.onePostPage .authorName{color:#444}
.descrTitle{position:absolute;top:0;width:100%;padding:10px;background:rgba(0,0,0,0.6);transition:.3s}
.popular .carousel-items .descrTitle span i{color:#ccc}
.popular .carousel-items .descrTitle p{margin:10px;padding-left:18px;color:#ccc;position:relative}
.popular .carousel-items .descrTitle p a{color:#aaa;font-size:13px}
.popular .carousel-items .descrTitle p a:hover{text-decoration:underline}
.popular .carousel-items .descrTitle p:before{content:"\f10d";font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#687D84;position:absolute;width:5px;height:5px;display:inline-block;border-radius:50%;left:0;top:0}
.popular .carousel-items .descrTitle .openClose{display:table;margin:0 auto;color:#fff;cursor:pointer;position:relative;padding:0 10px}
.popular .carousel-items .descrTitle .openClose:before{content:"";position:absolute;left:100%;height:1px;width:20px;background:#fff;top:50%}
.popular .carousel-items .descrTitle .openClose:after{content:"";position:absolute;right:100%;height:1px;width:20px;background:#fff;top:50%}
.popular .carousel-prev{width:7px;height:15px;position:absolute;bottom:4px;display:inline-block;margin:0}
.popular .carousel-next{width:7px;height:15px;position:absolute;bottom:4px;display:inline-block;margin:0;right:0}
.popular .carousel-next:hover i,.popular .carousel-prev:hover i{opacity:1}
.popular .carousel-next i,.popular .carousel-prev i{color:#687D84;font-size:20px;opacity:.6}
.weather{  position: absolute;
  right: 18px;
  top: -3px;
  z-index: 99;
  cursor: pointer;}
.weather p{font-size:14px}
.weather p img{display:inline-block;width:20px;margin-bottom:-6px;margin-right:10px}
.weather p > span{color: #000;}
.currency{position:absolute;right:100px;z-index:99;cursor:pointer}
.currency p{font-size:14px}
.currency p i{color:#666}
.dropMenuCurrency{width:272px;height:185px;left:-208px;display:block;background:#fff;position:absolute;-webkit-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);display:none}
.dropMenu{width:310px;height:290px;left:-270px;display:none;background:#fff;position:absolute;-webkit-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3);box-shadow:-1px 1px 6px 0 rgba(50,50,50,0.3)}
.dropMenu:before{content:'';position:absolute;right:0;top:-9px;border:10px solid transparent;border-right:10px solid #fff;z-index:10}
.dropMenuCurrency:before{content:'';position:absolute;right:0;top:-9px;border:10px solid transparent;border-right:10px solid #fff;z-index:10}
.dropMenu:after{content:'';position:absolute;right:-.2px;top:-11px;border:11px solid transparent;border-right:11px solid rgba(208,208,208,0.55);z-index:9}
.dropMenuCurrency:after{content:'';position:absolute;right:-.2px;top:-11px;border:11px solid transparent;border-right:11px solid rgba(208,208,208,0.55);z-index:9}
.dropMenu hr{margin:30px auto;width:90%;border:none;height:1px;background:#ccc}
.dropMenu h6{display:table;margin:-42px auto;background:#fff;padding:0 10px}
.dropMenu > div img{width:70px}
.dropMenuCurrency hr{margin:30px auto;width:90%;border:none;height:1px;background:#ccc}
.dropMenuCurrency h6{display:table;margin:-42px auto;background:#fff;padding:0 10px}
.today{margin-left:10px;display:block;float:left;width:80px;text-align:center}
.today span{color:#444;font-weight:700;display:inline-block;margin-bottom:10px}
.textWeather{width:170px;float:left;margin-left:30px;margin-top:20px}
.textWeather span:first-child{text-transform:uppercase;font-weight:700;color:#444;display:block}
.textWeather span:nth-child(2){color:#999;display:block}
.textWeather span:last-child{color:#666}
.forThreeDay{margin:10px 0;padding:0;list-style:none;display:table}
.outerW{margin-top:60px;width:100%;display:table}
.forThreeDay li{width:100px;float:left;margin-right:5px;text-align:center}
.forThreeDay li:last-child{margin-right:0}
.forThreeDay li img{width:50px}
.forThreeDay li span{display:block;color:#444;margin-bottom:10px}
.forThreeDay li span:first-child{font-weight:700}
.forThreeDay li span:last-child{color:#666}
.online{margin-top:0}
#IUAfinance24{min-width:175px;width:255px;cursor:pointer;margin-left:10px;margin-top:38px}
#IUAfinance24 *{margin:0;padding:0}
#IUAfinance24 .content{overflow:hidden;padding:4px;font-family:Georgia;font-size:10px;color:#000;background:#fff;border:1px solid #fff}
#IUAfinance24 h1{overflow:hidden;margin-top:-4px;font-size:12px;font-weight:700;height:20px;line-height:20px;color:#fff}
#IUAfinance24 h1 span{float:left;white-space:nowrap}
#IUAfinance24 h1 i{float:right;display:inline-block;width:36px;visibility:hidden;height:15px;background:url(http://i.i.ua/v2/logo/logo_small_14_black.png) no-repeat 0 1px transparent;opacity:.3}
#IUAfinance24 a,#IUAfinance24 a:hover{border:none;text-decoration:underline;color:#fff;display:none}
#IUAfinance24 dl{overflow:hidden;background:#fff;padding:4px;margin-bottom:4px}
#IUAfinance24 dl dt{font-weight:700;font-size:12px;text-transform:uppercase;font-family:Georgia}
#IUAfinance24 dl dd{clear:left;border-top:1px dotted #DDD}
#IUAfinance24 dl span{display:block;float:left;width:39%;white-space:nowrap;text-align:right}
#IUAfinance24 dl span.th{width:22%;text-align:left}
#IUAfinance24 dl dt span{font-size:10px;font-weight:400}
#IUAfinance24 dl dd span{line-height:24px;font-size:17px;font-family:Georgia;color:#000}
#IUAfinance24 dl dd span img{vertical-align:middle;margin-right:1px}
.popUpNewsAssept{width:100%;height:100%;position:fixed;background:rgba(150,150,150,.6);z-index:9999;display:none}
.popUpAbout{width:100%;height:100%;position:fixed;background:rgba(150,150,150,.6);z-index:9999;display:none}
.contentAbout{width:900px;height:600px;background:#fafafa;position:absolute;left:50%;top:50%;margin-left:-450px;margin-top:-300px;border-radius:2px;-webkit-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);overflow:hidden;opacity:0}
.contentNewsAccept{width:620px;height:480px;background:#fafafa;position:absolute;left:50%;top:50%;margin-left:-310px;margin-top:-240px;border-radius:2px;-webkit-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);-moz-box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);box-shadow:-1px 2px 5px 0 rgba(50,50,50,0.3);overflow:hidden;opacity:0}
.forLogoAbout{width:200px;float:left;height:600px;text-align:center;margin-top:10px; padding-left: 20px;}
.forLogoAbout p{color:#666}
.closer, .closerCrop{width:50px;height:50px;background:#687D84;position:absolute;right:0;top:0;text-align:center}
.contentAbout hr{width:60%;margin-left:40px;height:1px;background:#ddd;border:none;margin-top:50px;float:left}
.contentAbout h3{font-size:28px;background:#fafafa;padding:0 10px;margin:-38px 0 0 150px;display:table;float:left}
.redaktorImg{width:180px;margin: 20px auto;}
.forLogoAbout .social{position:static;margin-top:20px}
.allText{
display: block;
  width: 100%;
  float: left;
  height: 481px;
  overflow: hidden;
  width: 600px;
  padding: 40px;

}
.allText span{color:#000}
.sucsseccMassage{position: absolute; top: 0; height: 115px; bottom: 0; width: 100%; display: none;}
.sucsseccMassage > hr{width: 87% !important; margin: 20px auto; }
.sucsseccMassage > h2{  position: relative;
  top: -40px;
  padding: 0 10px;
  background: #fff;
  display: table;
  margin: 0 auto;}
.closer span, .closerCrop span{font-size:20px;color:#fff;font-family:Arial;padding-top:16px;display:inline-block;cursor:pointer}
.contentNewsAccept hr{width:80%;margin-left:40px;height:1px;background:#ddd;border:none;margin-top:50px}
.contentNewsAccept h3{font-size:24px;background:#fafafa;padding:0 10px;margin:-34px 0 0 65px;display:table}
.blur{-webkit-filter:url(#blur);filter:url(#blur);-webkit-filter:blur(3px);filter:blur(0px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');-webkit-transition:1s -webkit-filter linear;transition:1s filter linear}
.contentNewsAccept .outerInputs:nth-child(4){margin-top:20px}
.outerInputs{width:650px;margin-bottom:20px;margin-left:40px}
.outerInputs input{height:28px;background:#ccc;width:350px;margin-right:20px;border:none;outline:none;box-shadow:none;padding:0 10px}
.outerInputs textarea{height:80px;background:#ccc;width:350px;margin-right:20px;border:none;outline:none;box-shadow:none;padding:10px;resize:none}
.textareaOuter label{vertical-align:top} 
.contentNewsAccept button{background:#fafafa;border:1px solid #444;border-radius:2px;color:#444;font-family:Georgia;width:120px;height:32px;margin-left:40px;margin-right:20px}
.contentNewsAccept button:hover{border:1px solid #687D84;color:#687D84}
.textareaOuter{margin-bottom:15px}
.outerInputs label{font-family:Georgia}
.outerInputs input:focus,.outerInputs input:active{box-shadow:none}
.pickmeup{background:#3c3c3c;-moz-box-sizing:content-box;box-sizing:content-box;display:block!important;position:absolute; top:10px; left: 10px; opacity: 0; font-family: Georgia; font-size: 16px; font-weight: normal !important;}
.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box}
.pickmeup .pmu-instance{display:inline-block;height:13.8em;padding:.5em;text-align:center;width:15em}
.pickmeup .pmu-instance .pmu-button{color:#eee;cursor:pointer;outline:none;text-decoration:none}
.pickmeup .pmu-instance .pmu-today{background:transparent;color:#aaa}
.pickmeup .pmu-instance .pmu-button:hover{background:transparent;color:#bbb}
.pickmeup .pmu-instance .pmu-not-in-month{color:#666}
.pickmeup .pmu-instance .pmu-disabled,.pickmeup .pmu-instance .pmu-disabled:hover{color:#333;cursor:default}
.pickmeup .pmu-instance .pmu-selected{background:#687D84;color:#eee}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#17384d}
.pickmeup .pmu-instance nav{color:#eee;display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
.pickmeup .pmu-instance nav :first-child :hover{color:#88c5eb}
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
.pickmeup .pmu-instance nav .pmu-month{width:14em}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em}
.pickmeup .pmu-instance .pmu-day-of-week{color:#ccc;cursor:default}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height:1.5em;width:2em}
.pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{display:block}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{width:13em}
.pickmeup .pmu-instance:first-child:last-child .pmu-month{width:12em}
.pickmeup:not(.pmu-view-days) .pmu-days,.pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{display:none}